* {
    padding: 0.25%;
    margin: 0.25%;
}

body {
    background: rgb(253, 225, 225);
    border: white 10px dotted;
    border-radius: 20px;
    padding: 2.5%
}

h1 {
    position: flex;
    left: 50%;
    color: #fff;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 300%;
    line-height: 0;
    padding-top: 3%;
}

h2 {
    position: flex;
    left: 50%;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 200%;
    line-height: 0;
    padding-top: 3%;
    padding-bottom: 1%;
}

h3 {
    position: flex;
    left: 50%;
    color: #fff;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 150%;
    line-height: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

img {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    border: 5px dotted white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;  
}