* {
    padding: 0.25%;
    margin: 0.25%;
}

body {
    width: 93%;
    height: 85vh;
    background: rgb(253, 225, 225);
    border: white 10px dotted;
    border-radius: 20px;
    padding: 2.5%
}

h1 {
    position: flex;
    color: #fff;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 300%;
    line-height: 0;
    padding-top: 3%;
}

h2 {
    position: flex;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 200%;
    line-height: 0;
    padding-top: 3%;
    padding-bottom: 2%;
}

.tabs {
    align-items: center;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1%;
}

.tabs li {
    font-family: 'Poiret One', cursive;
    display: inline;
}

.tabs a {
    margin: 1%;
    padding: .5%;
    color: #fff;
    border: 2.5px dotted white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
}

.tabs a:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

img {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    border: 5px dotted white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;  
}